@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 1em;
    left: 61em;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
}

.navigation a {
    text-decoration: none;
    color: #144898;
    padding: 6px 20px;
    border-radius: 30px;
    margin: 0 15px;
    font-weight: 600;
    font-size: 26px;
    top: 0;
}

.navigation a:hover, 
.navigation a.active {
    background: #144898;
    /* light blue: #88c7dc*/
    color: #f9f9f9;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#about{
    position: relative;
    top: -15vh;
}

#about-content{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#name {
    position: relative;
    text-align: center;
    font-size: 6em;
    color: #333;
}

#portrait {
    position: relative;
    max-width: 15vw;
    height: auto;
    border-radius: 250px;
}

#about-wrapper {
    position: relative;
    padding: 1vw;
}

.intro {
    max-width: 30em;
    font-size: 18px;
}

#links {
    position: relative;
    text-align: center;
}

#links a{
    margin: 2vw 2vw 0 2vw;
    color: #333;
   text-decoration: none;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    pointer-events: none;
    object-fit: cover;
}

.projects-section {
    width: 100%;
    height: 95vh;
    position: absolute;
    background: #054d86;
    padding: 100px;
}


#proj-header {
    color: white
}